.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.aboutNames {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutImgDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutImg {
  height: 50vh;
  width: 25vw;
  object-fit: cover;
}

.aboutText {
  display: flex;
  justify-content: space-around;
}

.aboutText1 {
  display: flex;
  justify-content: space-around;
  margin: 2em 5em;
}

.aboutText2 {
  display: flex;
  justify-content: space-around;
  margin: 2em 5em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 2em 0;
}

.landingpage {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  overflow: hidden;
}

.landingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F5F5F5;
  z-index: 2;
  font-size: 2.5em;
}

.link {
  color: #F5F5F5;
  text-decoration: none;
}

.link p:hover {
  border-bottom: solid 1px white;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 1px 15px 20px #00000041;
  height: 7vh;
  /* sticky nav */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navLogo {
  margin: 0 10vw;
}

.profileBio {
  width: 75vw;
  margin: 3vh 12vw;
}

.profileDiv {
  margin: 5em;
  box-shadow: 1px 15px 20px
}

.profileImg {
  height: 50vh;
  width: 25vw;
  object-fit: cover;
}

.sampleImgDiv {
  display: flex;
  flex-wrap: wrap;
  height: 1700px;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.profileName {
  padding-top: 1em;
}

.sampleImg {
  height: 800px;
  width: 800px;
  border: solid 1px black;
}

.signInBtn {
  color: black;
  background-color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border-radius: 25px;
  height: 3em;
  width: 6em;
  margin: 0 10vw;
  cursor: pointer;
}

.joinUsBtn {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border-radius: 25px;
  height: 3em;
  width: 8em;
  margin: 0 10vw;
  border: none;
  cursor: pointer;
}

.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* overflow: hidden; */
}

.videoFilter {
  position: absolute;
  width: 100%;
  height: 93%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}