.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.landingpage {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.landingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  color: #F5F5F5;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 1px 15px 20px #00000041;
  /* sticky nav */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navLogo {
  margin: 0 10vw;
}

.signInBtn {
  color: black;
  background-color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border-radius: 25px;
  height: 3em;
  width: 6em;
  margin: 0 10vw;
}